<div class="rounded bg-white p-4 h-full">
  <div class="flex justify-center flex-col h-full md:text-center">
    <img src="https://picsum.photos/id/238/170/210"
         alt=""
         class="w-40 mb-3 md:mx-auto">
    <p class="text-2xl font-bold my-1">
      Nuevo Xiaomi Redmi Note 9T 5G Negro 128GB
    </p>
    <p class="text-2xl font-bold my-1">
      7€/mes
    </p>
    <a href="#"
       class="text-xl text-red-500 mt-4">
      Más info
    </a>
  </div>
</div>
