<div class="rounded bg-white p-4 h-full">
  <div class="flex flex-col items-stretch h-full md:text-center">
    <div class="flex-grow rounded mb-6 overflow-hidden">
      <img src="https://picsum.photos/id/237/420/528"
           alt=""
           class="object-cover h-full w-full">
    </div>
    <p class="text-2xl font-bold my-1">
      Nuevo Xiaomi Redmi Note 9T 5G Negro 128GB
    </p>
    <p class="text-2xl font-bold my-1">
      7€/mes
    </p>
    <a href="#"
       class="text-xl text-red-500 mt-4">
      Más info
    </a>
  </div>
</div>
